# Stolen from: https://github.com/gohugoio/hugo/blob/master/examples/blog/.gitignore

# Hugo default output directory
/public
/resources/_gen/
__archived/
__archived2/

## OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store